.title {
  color: var(--color-white);
  text-align: center;
}

.walletAddressText {
  color: var(--color-blue500);
  text-align: center;
}

.formContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.formContainer > input {
  flex-grow: 1;
  width: auto;
}

.formContainer > button {
  width: auto;
}
