.input {
  outline: none;
  padding: 10px 12px;

  border: 2px solid var(--color-gray700);
  color: var(--color-white);
  font-size: 16px;
  background: transparent;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.input:hover,
.input:focus {
  border-color: var(--color-white);
}
